.container {
  margin-top: 100px;
}

.table-container {
  margin: 50px;
}

input {
  width: 100%;
  margin-top: 20px;
}

h2 {
  text-align: center;
}

.card {
  margin-top: 25px;
}

.card-title {
  font-weight: bold;
  font-size: 30px;
  padding: 10px 5px;
}

.card-text {
  font-size: 22px;
  padding: 25px;
}

/* #likes {
  color: green;
}

#dislikes {
  color: red;
} */
